@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BuyOnline</h1>
    <div aling="center">
        <img src="~/Area/Admin/BuyOnline.png" height="100" width="140" />
    </div>
    <p class="lead">BuyOnline is a free online shopping website, which is great for selling your old goods!</p>
</div>


<div class="jumbotron">
    <div>
        <h2>Getting started</h2>
        <p>
            You can Log-in or register to started uploading the products that you want to sell. As a user who is not logged in, one can surf through the website and see the products that are on sale, along with the details and pictures for a specific product.
        </p>
    </div>
</div>